<div class="container">
    <div>
        <h1> Active Users</h1>
        <ul class="list-group" *ngFor="let user of activeUsers">
            <li class="list-group-item">
                {{ user.name }} | <a (click)='toggleUser(user.name)'>Set to Inactive</a>
            </li>
        </ul>
    </div>
    <div>
        <h1> Inactive Users</h1>
        <ul class="list-group" *ngFor="let user of inactiveUsers">
            <li class="list-group-item">
                {{ user.name }} | <a (click)='toggleUser(user.name)'>Set to active</a>
            </li>
        </ul>
    </div>


</div>